body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

nav {
    height: 8%;
    background-color: darkgrey;
    display: flex;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0 1em;
}

#left {
    display: flex;
    align-items: center;
    flex: 1;
}

#center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#right {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
    align-items: center;
    flex: 1;
}

input[type="text"] {
    width: 10em;
    min-width: 10em;
    height: 1.5em;
}

#logo,
#notif,
#pfp {
    height: 3em;
}

#pfp {
    cursor: pointer;
}
